/* src/app/home/home.component.css */

.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(/img/ranger1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.welcome-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 500px;
  box-shadow: 2px 2px 18px 10px rgba(0, 0, 0, 0.555);
}

.welcome-card h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00378e;
  margin-bottom: 0.8em;
}

.welcome-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.8em;
}

.welcome-card p {
  font-size: 1.15rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.7;
}
